@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  font-family: "Sora", sans-serif;
  background-color: #f6f6f6;
}

.dashboard .active{
  background-color: white;
  color: blueviolet;
  padding: 10px 0px;
  border-radius: 50px;
  font-weight: 600;
}